:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Subtle scrollbars */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.15);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.25);
}

